$primaryB: #cecccc;
$primary: #413EEB;

.kelasHead{
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
        background: white;
        display: flex;
        color: $primary;
        font-weight: 600;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: $primary solid 1px;
        gap: 5px;
        font-size: 16px;
        transition: 0.2s;
    }

    button:hover{
        background: darken($color:whitesmoke, $amount: 2);
    }

    button:focus{
        outline: none;
    }
}

.pembayaranHead{
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
    display: flex;
    justify-content: flex-start;
    gap: 6px;

        button{
            background: white;
            display: flex;
            color: $primary;
            font-weight: 600;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            border: $primary solid 1px;
            gap: 5px;
            padding: 10px;
            font-size: 16px;
            outline: none;
            transition: 0.2s;
        }

        .btnLaporan{
            background: $primary;
            display: flex;
            color: white;
            font-weight: 600;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            border: $primaryB solid 1px;
            gap: 5px;
            padding: 10px 10px 8px 10px;
            font-size: 16px;
            transition: 0.2s;
        }

        .btnLaporan:hover{
            background: darken($color: $primary, $amount: 8);   
        }

        button:focus{
            outline: none;
        }
    }

    button{
        background: white;
        display: flex;
        color: $primary;
        font-weight: 600;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: $primary solid 1px;
        gap: 5px;
        font-size: 16px;
        outline: none;
        transition: 0.2s;
    }

    button:hover{
        background: darken($color:whitesmoke, $amount: 2);
    }

    button:focus{
        outline: none;
    }
}

.penggunaHead{
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
        background: white;
        display: flex;
        color: $primary;
        font-weight: 600;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: $primary solid 1px;
        gap: 5px;
        font-size: 16px;
        transition: 0.2s;
    }

    button:hover{
        background: darken($color:whitesmoke, $amount: 2);
    }
    
    button:focus{
        outline: none;
    }
}

.siswaHead{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .siswaHeadSub{
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
    button{
        background: white;
        display: flex;
        color: $primary;
        font-weight: 600;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: $primary solid 1px;
        gap: 5px;
        font-size: 16px;
        transition: 0.2s;
    }

    button:hover{
        background: darken($color:whitesmoke, $amount: 2);
    }

    button:focus{
        outline: none;
    }
}

.sppHead{
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
        background: white;
        display: flex;
        color: $primary;
        font-weight: 600;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: $primary solid 1px;
        gap: 5px;
        font-size: 16px;
        transition: 0.2s;
    }

    button:hover{
        background: darken($color:whitesmoke, $amount: 2);
    }

    button:focus{
        outline: none;
    }
}

.filterInput{
    font-size: small;
    margin-top: 16px;
    border: #e9e3e3 1px solid;
    font-weight: 500;
    outline: none;
    display: flex;
    gap: 8px;

    input{
        background: white;
        border: $primaryB 1px solid;
        font-size: 14px;
        border-radius: 5px;
        color: black;
        padding: 10px;
        flex-grow: 1;
        font-family: 'Nunito';
        transition-duration: 0.5s;
    }

    input:focus{
        outline: none;
        border: 1px solid $primary;
    }

    input:hover{
        border: 1px solid $primary;
    }
}
