@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

:root {
  font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: black;
  background-color: #E5E7EB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$primary : #413EEB;

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}

.primaryC {
  font-weight: 700;
  font-size: 20px;
}

@mixin typeBase {
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.aType{
  @include typeBase;
  color: $primary;
  background: rgba($primary, 40%);
}

h4.aTypeT{
  color: rgba($primary, 70%);
}

h4.pTypeT{
  color: rgba(#f11717, 70%);
}

h4.sTypeT{
  color: rgba(#0faa26, 70%);
}

.pType{
  @include typeBase;
  color: #f11717;
  background: rgba(#e70c0c, 40%);
}

.sType{
  @include typeBase;
  color: #0faa26;
  background: rgba(#12e632, 40%);
}

.rplType{
  @include typeBase;
  color: #0faa26;
  background: rgba(#12e632, 40%); 
}

.tkjType{
  @include typeBase;
  color: #aa0f0f;
  background: rgba(#e61212, 40%);
}

.mmType{
  @include typeBase;
  color: #a50faa;
  background: rgba(#df12e6, 40%);
}

.tavType{
  @include typeBase;
  color: #8ba10f;
  background: rgba(#d5d816, 40%);
}

.titlType{
  @include typeBase;
  color: #0f12aa;
  background: rgba(#2712e6, 40%);
}

.toiType{
  @include typeBase;
  color: #7d8a8d;
  background: rgba(#9bad9e, 40%);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.loading {
  color: transparent;
  background: linear-gradient(100deg, white 30%, #f6f7f8 50%, white 70%);
  background-size: 400%;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


