$primary: #413EEB;

.loginContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  background: transparent;

  .main1{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 600px;
      animation: bounce 1s;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
      animation-iteration-count: infinite;
    }

    @keyframes bounce {
      from {
          transform: translate3d(0, 0, 0);
      }
      to {
          transform: translate3d(15px, 50px, 0);
      }
    }

    .shadowfilter {
       filter: drop-shadow(12px 5px 7px $primary)
       drop-shadow(12px 5px 7px white)
       drop-shadow(12px 5px 7px white);
    }
  }

  .main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    height: 100vh;
    width: 100%;

    .mainSub{
      display: flex;
      flex-direction: column;
      padding: 10px;

      .loginTitle{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
        h3{
          font-weight: 500;
        }
      }
    }
  }
}

.nav{
  display: flex;
  max-height: 0px;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  margin-top: -10px;
  margin-bottom: 120px;
  img{
    width: 120px;
  }
}

.formContainer{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  .inputGroup{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label{
      font-weight: 500;
      font-size: 20px;
      text-align: left;
    }

    .inputStyle{
      background: white;
      color: black;
      border-radius: 5px;
      font-size: 14px;
      border: 1px solid #e9e3e3;
      padding: 1em;
      font-family: 'Nunito';
      transition-duration: 0.5s;
    }

    .inputStyle:focus{
      outline: none;
      border: 1px solid $primary;
    }

    .inputStyle:hover{
      border: 1px solid $primary;
    }

  }

  .btnMasuk{
    background-color: $primary;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 2.5em;
    transition: 0.2s;
    outline: none;
  }

  .btnMasuk:hover{
    background-color: #5A57EC;
  }

}

